.step {
  background-color: #fff;
    border-radius: 50%;
    font-size: 30px;
    height: 60px;
    line-height: 50px;
    margin: 0 auto;
    position: relative;
    width: 60px;
    z-index: 1;
    border: solid #45e652;
}